body {
    background-color: #f7c9d9; 
    color: #333;
    line-height: 1.6;
    padding: 0 10px;
}

.container {
    background-color: #fff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px; 
}

header {
    background-color: #fff;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul li a {
    text-decoration: none;
    color: #922e60;
    padding: 10px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ff69b4; 
}


main {
    background-color: #fff; 
    padding: 20px;
    color: #333;
    border-radius: 10px;
}

h1, h2 {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    border-bottom: 1px solid #ff69b4;
    padding-bottom: 5px;
}

p {
    margin-bottom: 20px;
}

figure {
    text-align: center;
    margin: 20px 0;
}

figure img {
    border-radius: 8px;
    max-width: 100%;
}

figcaption {
    color: #666;
    font-size: 12px;
    margin-top: 5px;
}


video {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #e60073;
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer address {
    font-style: normal;
}


@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        width: 100%; 
        padding: 20px;
    }

    main {
        padding: 15px;
    }

    h1, h2 {
        font-size: 18px;
    }

    footer {
        font-size: 12px;
    }
}
