<!DOCTYPE html>
<html lang="en"><head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="{% url 'index' %}">Página principal</a>
            <h1>Los Géneros Musicales</h1>
            <p>Los géneros musicales son categorías que agrupan diferentes manifestaciones musicales según características comunes en cuanto al sonido, la composición, instrumentación e interpretación de las canciones. Los géneros musicales abarcan un amplio abanico de ritmos, melodías y armonías, y son más que música, ya que generan identidades y crean comunidades con valores, comportamientos, hábitos y estilos de vida asociados. </p>
            <figure>
                <img width="400px" src="https://images.pexels.com/photos/3756766/pexels-photo-3756766.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <figcaption>Figura 1. Hombre disfrutando de la música</figcaption>
            </figure>
            <p>°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°</p>
        </header>
        <main>
            <p> <mark>EJEMPLOS DE GÉNEROS MUSICALES</mark></p>
            <ol>
                <li>Clásica: Orígenes y compositores destacados</li>
                <p>La música clásica tiene sus raíces en la tradición occidental, con compositores como Bach, Mozart y Beethoven que han dejado un legado imborrable. Esta música es conocida por su complejidad, estructura formal y la capacidad de expresar una amplia gama de emociones.</p>
                <audio controls src="minisitio/audio/overflow-114923.mp3"></audio>
                <li>Jazz: Evolución y características principales</li>
                <p>Originado en las comunidades afroamericanas a principios del siglo XX, el jazz es conocido por su improvisación, síncopa y ritmo swing. Artistas como Louis Armstrong, Duke Ellington y Miles Davis han sido fundamentales en la evolución de este género.</p>
                <audio controls src="minisitio/audio2/coastal-candlelight-travel-vlog-du-lich-youtuber-221839.mp3"></audio>
                <li>Rock: Impacto cultural y desarrollo</li>
                <p>Surgido en la década de 1950, el rock se convirtió rápidamente en un fenómeno cultural global. Con raíces en el rhythm and blues y el country, el rock ha influido en la moda, la política y los movimientos juveniles. Bandas como The Beatles, The Rolling Stones y Led Zeppelin son emblemáticas del género.</p>
                <audio controls src="minisitio/audio3/sunny-day-copyright-free-background-rock-music-for-vlog-129471.mp3"></audio>
                <li>Música electrónica: Innovación y tendencias actuales</li>
                <p>La música electrónica ha evolucionado desde los experimentos de la música concreta en los años 40 hasta convertirse en un género dominante en la actualidad. DJs y productores como Daft Punk y Deadmau5 han llevado la música electrónica a las masas, utilizando tecnologías avanzadas para crear nuevos sonidos y experiencias auditivas.</p>
                <audio controls src="minisitio/audio4/upbeat-motivational-summer-150103.mp3"></audio>
            </ol>
            <p>°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°o°</p>
        </main>
    </div>
    <footer>
        <address>
            <p>Desarrollado por: Natalia Nohemi Rubio Puente</p>
            <p>Derechos Reservados &copy;</p>
        </address>
    </footer>
</body>
</html>