<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="{% url 'index' %}">Página principal</a>
            <h1>La Influencia de la Música en la Cultura</h1>
            <figure>
                <img width="500px" src="https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <figcaption>Figura 1. Concierto de una banda de rock</figcaption>
            </figure>
            <p>La música forma parte de la identidad cultural y social de una época, reflejando los valores, las tendencias y los desafíos de la sociedad. La música tiene la capacidad de influir en el estado de ánimo de las personas. Puede ser una fuente de inspiración y motivación, o proporcionar consuelo en momentos de tristeza.</p>
        </header>
        <main>
            <h2>Música como medio de expresión social</h2>
            <p>La música ha sido utilizada como una forma poderosa de expresión social, dando voz a movimientos de cambio y resistencia. Canciones como "Blowin' in the Wind" de Bob Dylan y "Imagine" de John Lennon se han convertido en himnos de paz y derechos civiles.</p>
            <P>😀😂🥰🤨😮😥😫😜😨😤😚</P>
            <h2>La música y su influencia en el cine y la televisión</h2>
            <p>La música juega un papel crucial en el cine y la televisión, ayudando a establecer el tono, la emoción y la narrativa de una historia. Compositores como John Williams (Star Wars) y Hans Zimmer (Inception) han creado partituras que son tan icónicas como las películas mismas.</p>
            <p>PARA OBTENER MÁS INFO INGRESA AQUÍ</p>
            <a href="mailto:nati.rubio.tv@gmail.com">Envia un correo 😁</a>
            <h2>El papel de la música en eventos sociales y culturales</h2>
            <p>Desde conciertos en vivo hasta festivales de música, la música es una parte integral de los eventos sociales y culturales. Estos eventos no solo celebran la música, sino que también son espacios donde las personas pueden reunirse y compartir experiencias colectivas.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ED_Mok754DQ?si=A9T3khJEiLdHAHOj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2>Cómo la música ha influido en movimientos sociales y políticos</h2>
            <p>La música ha sido un vehículo para el cambio social y político, con canciones que han inspirado protestas y movimientos por la justicia. Desde el movimiento por los derechos civiles en los Estados Unidos hasta las protestas contra la guerra, la música ha sido una herramienta para movilizar y unir a las personas.
            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MLLlDk3aTZA?si=fGMftwVLxtkQUyfS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </main>
    </div>
    <footer>
        <address>
            <p>Desarrollado por: Natalia Nohemi Rubio Puente</p>
            <p>Derechos Reservados &copy;</p>
        </address>
    </footer>
</body>
</html>